html {
    font-size: 20px;
}



body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 7px 7px 10px  rgba(32, 32, 32, 0.2);
    border-bottom: solid 3px rgb(115, 115, 114);
    letter-spacing: 1.2em;
    
}

.text01 {
    color: skyblue;
}

.text02 {
    color: rgb(255, 192, 203);
}


#basic p {
    font-weight: 700;
}

.one {
    color: rgb(255, 192, 203)
}
.two {
    color: skyblue;
}